<%- include('../layouts/header', {title: 'Lista de tarefas'}) %>

<%- include('../layouts/menu') %>

<form method="post" action="<%= url %>">
  <div class="field">
    <label class="label">Nome</label>
    <div class="control">
      <input class="input" type="text" name="checkList[name]" placeholder="Lista de Tarefas" value="<%= checkList.name %>">
      <% if(checkList.error) { %> 
        <p class="is-danger help"><%= checkList.error.name.message %></p>
      <% } %>
    </div>
  </div>

  <button type="submit" class="button is-success">Salvar</button>
  <a href="/checkList" class="button">Cancelar</a>
</form>

<%- include('../layouts/footer') %>
